<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><span class="font-weight-bold">Missile Silo</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item item">
          <a class="nav-link" href="/addmissile">Lauch a Missile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item item">
            <a class="nav-link" href="/search">Query Missile<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item item">
            <a class="nav-link" href="/missiles">Show all Missiles<span class="sr-only">(current)</span></a>
        </li>



      </ul>
    </div>
  </nav>